<%- include("../../views/partials/admin/header") %>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <style>
        .content-main {
        position: absolute;
        top: 70px;
        left: 240px;
        width: calc(100% - 240px);
        padding: 2rem;
    }
    @media (max-width: 1000px) {
        .content-main {
        position: absolute;
        top: 50px;
        left: 20px;
        width: calc(100% - 30px);
        padding: 2rem;
    }
  }
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        .badge-success {
            background-color: #28a745;
            color: white;
        }

        .badge-danger {
            background-color: #dc3545;
            color: white;
        }

        .table-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .action a {
            color: #dc3545;
        }

        .pagination-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
</head>

<div class="content-main">
    <div class="content-header row">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="content-title card-title">Banners</h2>
        </div>
    </div>
    <div class="right mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.data) { %>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <img src="/uploads/productImages/<%= data[i].image %>" class="table-img" alt="Banner Image">
                            </td>
                            <td><%= data[i].title %></td>
                            <td><%= data[i].description %></td>
                            <td>
                                <% if (data[i].startDate < Date.now() && data[i].endDate > Date.now()) { %>
                                    <span class="badge badge-success">Active</span>
                                <% } else { %>
                                    <span class="badge badge-danger">Not Active</span>
                                <% } %>
                            </td>
                            <td class="action" data-title="Remove">
                                <a href="/admin/deleteBanner?id=<%= data[i]._id %>"><i class="icon material-icons md-delete"></i> Delete</a>
                            </td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="5" class="text-center">No Banner Found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a href="/admin/addBanner">
                    <button class="btn btn-primary mt-3">Add Banner</button>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include("../../views/partials/admin/footer") %>
